<html>
    <head>
        <title>sheisjuicy</title>
    </head>
    <body>
        <div>
            <h1><a href="">sheisjuicy</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Бергамо</a></h2>
            <p>Бергамо зустрічає нас яскравими вогнями вечірнього міста і теплим повітрям. Хочу вловити новий запах, але швидко звикаю до нього.
21:17. Почався дощ, але ми знайшли потрібний автобус в місто і навіть купили на нього квитки. Треба зробити пересадку, шукаємо потрібну зупинку, але натомість блукаємо і згодом зустрічаємо галасливу групу студентів з Данії, які приїхали на наукову конференцію. Тепер ми всі разом шукаємо зупинку, а з нею і наш хостел. 
Привітний адміністратор хостелу навіть о 12 ночі робить нам чай, напевно зжалившись, побачивши наші змучені обличчя і мокрі ноги.
Ранкове містечко Бергамо таке якесь домашнє, тихе і спокійне. Тут є шматочок Альп і смачна кава. Всюди багато зелені (балконах, терасах, клумбах), це перше, що кидається в очі. На клумбі залізничного вокзалу замість чорнобривців росте м’ята, меліса, лимонник. Сюди обов’язково хочеться повернутись, щоб покататись на фунікулері, що з’єднує старе і нове місто, краще вивчити графік руху громадського транспорту і зустріти ще більше приємних людей.) Але ми вже знаємо, що цього разу не вийде.
Чому Бергамо? Тут знаходиться один з аеропортів Мілану, куди ми і прилетіли лоукостом Ryanair з Варшави. гріх не скористатись шансом і трошки не дослідити місто.) Дістатись в Мілан з Бергамо можна шатлом з аеропорту, але дешевше буде електричкою з залізничного вокзалу, вартість квитка 5,50 EUR, що ми і зробили.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Верона</a></h2>
            <p>В кожного міста свій запах. Верона солодкувата: пахне здобою. І коханням. Ми прибуваємо туди вже ввечері. Після годинних очікувань під дверима все-таки потрапляємо в нашу кімнатку: B'n'B виявляється двохкімнатною просторою італійською квартирою з величезною зеленою терасою. 
Хазяйка залишила ключі, тому нас зустрічають два котики, по-готельному складені рушники з цукерочками, сніданок на столі і вино. Забуваємо про все, що ішло не так.)
Так вже склалось, що перше враження про нове місто ми отримуємо ввечері або вночі, щось в цьому є. Майже порожня центральна площа, вилизані до блиску прогулянкові вулички, ліхтарі, ресторанчики з свічками на столиках, красивезні дворики з скульптурами - все тут. 
Вдень Верона не менша красива, хоча пішохідний рух більш пожвавлений (особливо біля бідної бронзової Джульєтти). Спекотно, незважаючи на жовтень. Саме тут ми куштуємо найсмачніше в Італії шоколадне морозиво, багет з прошуто, червоне Bolla Bardolino і блукаємо порожніми вулицями в пошуках садів. Не знайшовши їх, натрапляємо на прекрасну панораму міста, насолоджуємось видами прозорої річки Адідже і звісно мало не запізнюємось на автобус. Все в кращих традиціях.)</p>
        </div>
    </body>
</html>